<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Library Services</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="../resources/css/bootstrap.min.css" ></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../resources/js/bootstrap.min.js"></script>

        <!-- Custom Style -->
        <link rel="stylesheet" href="../resources/theme.css" ></link>
        
    </head>

    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Library App</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        </nav>
        <!-- Main Container -->
        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>Welcome to the Library!</h1>
                <p>This is a sample welcome page</p>
            </div>
            <div class="row marketing">
                <div class="col-lg-6">
                    <h3>Check-In</h3>
                    <a class="btn btn-lg btn-success" role="button" href="#" >Check-In Book</a>
                </div>
                <div class="col-lg-6">
                    <h3>Check-Out</h3>
                    <a class="btn btn-lg btn-success" role="button" href="#" >Check-Out Book</a>
                </div>
            </div>
            <footer class="footer">
                <p>&copy; 2017 Library Services</p>
            </footer>
        </div>
    </body>
</html>